li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.mainrow {
  background-color: #f8efc0;
}

.burger {
  padding: 2px
}

.burgername {
  background-color: white;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
