<div class="row burger">
    <div class="col-md-7 burgername">
        {{burger_name}}
    </div>

    <div class="col-md-4">
        <button type="button" class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}Devour It!{{else}}UN DEVOUR!{{/if}}
        </button>
    </div>
    <div class="col-md-1">
    </div>
</div>